<div class="__product_card">
    <div class="__shop_product_image">
        <a href="{{ path('product_details', {
            product:product.id,
            slug: product.getSlug(),
            shop: product.shop.getId()
        }) }}" class="__image_product">
            <img src="{{ asset('images/products_image/'~product.getProductImages()[0].getFilename()) }}" alt="product image">
        </a>
    </div>
    <div class="__product_body">
        <div class="__product_infos">
            <span class="__product_brand">{{ product.productBrand }} {{ cart.productSize }} <em>x{{ cart.productQuantity }}</em></span>
            <span>{{ product.productName }}</span>
            <h5 class="__product_price">{{ (product.productPrice*cart.productQuantity) | number_format(0, ' ', ' ') }} FG</h5>
        </div>
        <div class="__remove_from_cart">
            <form method="post" onsubmit="return confirm('Êtes-vous sûr ?')" action="{{ path('delete_product_from_cart', { product:product.id, shop:product.shop.id, cartNumber:cart.cartNumber, cart:cart.id }) }}" style="display: inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_from_cart'~cart.cartNumber) }}">
                <button type="submit" class="btn btn-sm"><i class="fas fas fa-trash-alt"></i></button>
            </form>
        </div>
    </div>
</div>