<div class="__related_product_card">
    <div class="__shop_product_image">
        <a href="{{ path('product_details', {
            product:product.id,
            slug: product.getSlug(),
            shop: product.shop.getId()
        }) }}" class="__image_product">
            <img src="{{ asset('images/products_image/'~product.getProductImages()[0].getFilename()) }}" alt="product image">
        </a>
    </div>
    <div class="__product_body">
        <div class="__product_infos">
            <span class="__product_brand">{{ product.productBrand }}</span>
            <span>{{ product.productName }} </span>
            <h6 class="__product_price">{{ product.productPrice | number_format(0, ' ', ' ') }} FG</h6>
        </div>
    </div>
</div>

